networks:
  imageinf-network:

services:
  imageinf:
    image: taccwma/imageinf:local
    container_name: imageinf_service
    environment:
      - LOG_LEVEL=DEBUG
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - ~/.cache/huggingface:/root/.cache/huggingface
    networks:
      - imageinf-network
    command: uvicorn imageinf.main:app --host 0.0.0.0 --port 8000 --reload

  nginx:
    image: nginx:alpine
    container_name: imageinf_nginx
    ports:
      - "8080:80" # serve client at / and service at /api on port 8080 (see local_conf/nginx.conf)
    volumes:
      - ./local_conf/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - imageinf
    networks:
      - imageinf-network
