networks:
  imageinf-network:

services:
  imageinf:
    image: taccwma/imageinf:local
    container_name: imageinf_service
    volumes:
      - .:/app
      - ~/.cache/huggingface:/root/.cache/huggingface
    networks:
      - imageinf-network

  nginx:
    image: nginx:alpine
    container_name: imageinf_nginx
    ports:
      - "8080:80" # serve client at / and service at /api on port 8080 (see local_conf/nginx.conf)
    volumes:
      - ./local_conf/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - imageinf
    networks:
      - imageinf-network
